---
layout: base.njk
---
<section class="foto-fondo encabezado{% if encabezadoCompleto %} encabezado--completo{% endif %}" aria-labelledby="titulo-pagina">
  {%- if fotoEncabezado %}
  {% imagen fotoEncabezado, { clase: "foto-fondo__img", carga: "eager", prioridad: true, estilo: ("object-position: center " + posicionEncabezado) if posicionEncabezado } %}
  {%- endif %}
  <div class="contenedor foto-fondo__contenido">
    <h1 class="encabezado__titulo" id="titulo-pagina">{{ tituloPagina }}</h1>
  </div>
</section>
{{ content | safe }}
