---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
{% if entorno.esDemo -%}
Disallow: /
{%- else -%}
Allow: /

Sitemap: {{ "/sitemap.xml" | urlAbsoluta(site.url) }}
{%- endif %}
